body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, #ccebc5, #ffd8a8, #e0e0e0);
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    background: linear-gradient(to left,#e9fce2, #e9fce2, #ffeacc, #ffeacc);
    box-shadow: #f5deb3 1px 2px 20px 1px;
    height: 6.5vh;
    z-index: 10;
}

.main {
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 80%;
    margin: 0 auto; 
}

.navlogo{
    width: 10%;
    justify-content: flex-start;
}
.nlogo{
    width: 90%;
    padding-left: 20%;
}
.n{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.home, .suggest, .search, .foodie, .gamez {
    position: relative;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 10px;
}

.home:hover {
    background-color: #38b6ff;
    color: #fff;
}

.suggest:hover {
    background-color: #38b6ff;
    color: #fff;
}

.search:hover {
    background-color: #38b6ff;
    color: #fff;
}

.foodie:hover {
    background-color: #7ed957;
    color: #fff;
}

.gamez:hover {
    background-color: #ff914d;
    color: #fff;
}


footer {
    margin: 0;
    padding: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(215deg, #e9fce2, #ffeacc);
    padding: 3% 0; 
    border-radius: 10em 10em 0 0;
    text-align: center; 
}

footer {
    margin: 0;
    padding: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(215deg, #e9fce2, #ffeacc);
    padding: 3% 0;
    border-radius: 10em 10em 0 0;
}

.footcon {
    display: flex;
    align-items: center; 
    gap: 2em; 
    width: 90%; 
    margin: 0 auto;
}

.flogo {
    width: 80%; 
    max-width: 300px; 
    text-align: center;
    margin: 0 auto; 
    display: block; 
}

.footlogo {
    flex: 0 0 auto; 
    max-width: 350px; 
}

.foot1 {
    flex: 1; 
    text-align: left; 
}

.infos {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1rem;
    line-height: 1.5em;
}

.connect {
    flex: 2;
    display: flex;
    flex-wrap: wrap; 
    gap: 15px; 
    border: none; 
    justify-content: center;
    align-items: center;
    padding: 1%; 
}

.lnk {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    background-color: #e9fce2; 
    color: black; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

.lnk:hover {
    background-color: black; 
    color: white; 
}

.cpyr8 {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.9rem; 
    margin-top: 1.5em; 
    text-align: center; 
}

.flogo2 {
    display: none; 
}


.hamburger-icon{
    display: none;
}


.hamburger-icon {
    cursor: pointer;
}

.hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    justify-content: space-around;
    position: fixed;
    top: 8.5vh;
    right: -100%;
    width: 60%;
    background: linear-gradient(215deg,#e9fce2, #e9fce2, #ffeacc, #ffeacc);
    box-shadow: #f5deb3 1px 2px 20px 1px;
    height: auto;
    z-index: 4;
    padding-top: 5vh;
    padding-bottom: 5vh;
    cursor: pointer;
    transition: right 1s ease;
    border-radius: 0px 0px 0px 30px;
  }
  
  .hamburger.show {
    right: 0;
  }
  .n1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    display: none;
}

.mob{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    position: absolute;
    top: 20%;
    right: 5%;
}


.search-bar-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    transform: translateY(-20px);
    background: linear-gradient(45deg, #FFFFFF, #FFEBB5, #FFFFFF, #FFF5E1);
    width: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease-in;
    padding-top: 10vh;
    padding-bottom: 5vh;
    border-radius: 0px 0px 50px 50px;
}

.search-bar-container.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.search-bar {
    width: 40%;
    padding: 15px;
    font-size: 18px;
    border: 0;
    border-bottom: 1px solid #000;
    background-color: transparent;
    color: #000;
    outline: none;
}

.search-icon {
    width: 24px;
    height: 24px;
}

.lnk:hover svg {
    scale: 1.5;
    fill: white; 
    transition: fill 0.3s ease; 
    transition: scale 0.3s ease; 
    background-color: #000;
    border-radius: 50%;
    padding: 2px;
}



  

  

  #cover-image-container {
    width: 97%;
    height: 50vh;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8vh;
    border-radius: 10px;
  }
  
  #cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #menu-button {
    position: absolute;
    bottom: 20px;
    left: 30px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  #menu-button:hover {
    background-color: #e68a00;
  }
  
  #action-buttons {
    display: flex;
    gap: 15px;
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  #action-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  #share-button {
    background-color: #3b5998;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  #share-button:hover {
    background-color: #334d84;
  }
  
  #direction-button {
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  #direction-button:hover {
    background-color: #45a049;
  }
  
  #profile-section {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  
  #place-info {
    flex: 1;
  }
  
  #place-name {
    font-size: 2rem;
    font-weight: bold;
  }
  
  #place-rating {
    font-size: 1.2rem;
    color: #ff9800;
    margin: 10px 0;
  }
  
  #place-tags span {
    background-color: #e0f7fa;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
  }
  #place-tags{
    width: 200%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  #place-description {
    font-size: 1rem;
    color: #333;
  }
  
  #additional-details {
    padding: 20px;
    margin: 20px;
    background-color: #fff8e1;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  #popular-dishes li {
    font-size: 1rem;
    margin: 5px 0;
  }

  #contact-button{
    background-color: #38b6ff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }
  #contact-button:hover{
    background-color: #1e90ff;
  }

#map-container {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  #map-container h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  #map {
    width: 100%;
    height: 85%;
    border: none;
    border-radius: 10px;
  }


  .content{
    display: flex;
  }
  .content h1, h2, h3, h4, h5, h6{
    color: #e68a00;
  }



  
  @media (min-width: 1023px) and (max-width: 1200px) {
    .visit{
        top: 42%;
    }
    .connect{
        width: 80%;
    }
    .content{
        flex-direction: column;
    }
    #map-container{
        width: auto;
    }
    #profile-section{
        flex-direction: column;
    }
    #place-tags{
        width: 100%;
    }

    #cover-image-container{
        width: 96%;
        padding-top: 9vh;
    }
}

@media (min-width: 800px) and (max-width: 1024px){

    .hamburger-icon{
        display: block;
    }
    .n1{
        display: block;
        font-size: 20px;
    }

    .visit{
        position: relative;
        top: 0;
        left: 0;
        width: 30%;
        animation: none;
    }
    .connect{
        width: 40%;
    }
    .strtcon{
        animation: none;
    }
    .visitcon{
        text-align: center;
    }
    .strtlogo, .caption{
        width: 80%;
    }
    .footcon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .flogo{
        display: none;
    }
    .flogo2{
        display: inline;
        width: 100%;
        margin-top: 10%;
    }
    .footlogo{
        text-align: center;
    }
    .foot1{
        width: 90%;
        justify-content: center;
        align-items: center;
    }
    .cpyr8{
        margin-top: 5%;
    }

    .n{
        display: none;
    }

    nav{
        height: 8vh;
    }
    .mobilevw{
        width: 200%;
    }

    .content{
        flex-direction: column;
    }
    #map-container{
        width: auto;
    }
    #profile-section{
        flex-direction: column;
    }
    #place-tags{
        width: 100%;
    }
    
    #action-buttons button {
        color: transparent;
        font-size: 0;
        padding: 0;
    }

    #action-buttons button svg {
        fill: white;
    }

    #action-buttons button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }

    #cover-image-container{
        width: 95%;
        padding-top: 9vh;
    }
    .search{
        padding: 0;
    }
    .search:hover{
        transition: none;
        background-color: transparent;
        color: #000;
    }
    .search{
        padding: 0;
    }
    .search:hover{
        transition: none;
        background-color: transparent;
        color: #000;
    }
}

@media (max-width: 800px) {
    .hamburger-icon{
        display: block;
    }
    .n1{
        display: block;
    }
    .search{
        position: fixed;
        top: 2.7vh;
        right: 15.5%;
    }

    .visit{
        position: relative;
        top: 0;
        left: 0;
        width: 30%;
        animation: none;
    }
    footer{
        border-radius: 0;
    }
    .strtcon{
        animation: none;
    }
    .visitcon{
        text-align: center;
    }
    .strtlogo, .caption{
        width: 80%;
    }
    .footcon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .flogo{
        display: none;
    }
    .flogo2{
        display: inline;
        width: 100%;
        margin-top: 10%;
    }
    .footlogo{
        text-align: center;
    }
    .foot1{
        width: 90%;
        justify-content: center;
        align-items: center;
    }
    .cpyr8{
        margin-top: 5%;
    }
    
    .n{
        display: none;
    }

    nav{
        height: 8vh;
    }
    .mobilevw{
        width: 200%;
    }
    .home::after, .suggest::after, .search::after, .foodie::after, .gamez::after {
        width: 0;
        height: 0;
    }

    .content{
        flex-direction: column;
    }
    #map-container{
        width: auto;
    }
    #profile-section{
        flex-direction: column;
    }
    #place-tags{
        width: 100%;
    }
    
    #action-buttons button {
        color: transparent;
        font-size: 0;
        padding: 0;
    }

    #action-buttons button svg {
        fill: white;
    }

    #action-buttons button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }

    #cover-image-container{
        width: 92%;
        padding-top: 9vh;
    }
    .search{
        padding: 0;
    }
    .search:hover{
        transition: none;
        background-color: transparent;
        color: #000;
    }
}


@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#action-buttons button {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.show-buttons #share-button {
    animation: slideInRight 0.5s ease-out forwards;
}
.show-buttons #direction-button {
    animation: slideInRight 0.5s ease-out 0.3s forwards;
}
.show-buttons #contact-button {
    animation: slideInRight 0.5s ease-out 0.6s forwards;
}


@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#menu-button {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    opacity: 0;
    transform: translateX(-50px);
}

.show-menu-button {
    animation: slideInLeft 0.5s ease-out forwards;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#cover-image {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.show-cover-image {
    animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes bottomToTop {
    0% {
        opacity: 0;
        transform: translateY(50px) scale(0.95);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

#profile-section {
    opacity: 0;
    transform: translateY(50px) scale(0.95);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.show-profile {
    animation: bottomToTop 0.8s ease-out forwards;
}



@keyframes SlideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px) scale(0.95);
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

.content {
    opacity: 0;
    transform: translateX(-50px) scale(0.95);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.show-content {
    animation: SlideInLeft 0.8s ease-out forwards;
}


.show-content #additional-details {
    animation: SlideInLeft 0.8s ease-out forwards;
}

#map-container {
    opacity: 0;
    transform: translateX(50px);
}

.show-content #map-container {
    animation: SlideInRight 0.8s ease-out forwards;
}

@keyframes SlideInRight {
    0% {
        opacity: 0;
        transform: translateX(100px) scale(0.95);
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}



.search-results {
    max-height: 250px;
    overflow-y: auto;
    margin-top: 15px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: none;
    text-align: left;
}

/* Show search results */
.search-results.show {
    display: block;
}

/* Individual Search Result Item */
.search-result-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background 0.3s ease;
}

/* Last item has no border */
.search-result-item:last-child {
    border-bottom: none;
}

/* Hover effect */
.search-result-item:hover {
    background: #fff5e1;
}

/* Result Image */
.result-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

/* Result Info */
.result-info {
    display: flex;
    flex-direction: column;
}

.result-info h4 {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
}

.result-info p {
    font-size: 14px;
    color: #555;
    margin: 0;
}