body {
    margin: 0;
    padding: 0;
    background-image: url("../imgs/linen\ textute.jpg"); 
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 30px rgba(227, 228, 237, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.2);
    height: 6.5vh;
    z-index: 1;
}

.main {
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 80%;
    margin: 0 auto; 
}

.navlogo{
    width: 10%;
    justify-content: flex-start;
}
.nlogo{
    width: 90%;
    padding-left: 20%;
}
.n{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.home:hover, .suggest:hover, .search:hover{
    color: #38b6ff;
}

.foodie:hover{
    color: #7ed957;
}

.gamez:hover{
    color: #ff914d;
}

.home::after, .suggest::after, .search::after, .foodie::after, .gamez::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.home:hover::after, .suggest:hover::after, .search:hover::after, 
.foodie:hover::after, .gamez:hover::after {
    transform: scaleX(1);
}

.mobilecon{
    display: none;
}nav{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 30px rgba(227, 228, 237, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.2);
    height: 6.5vh;
    z-index: 1;
}

.main {
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 80%;
    margin: 0 auto; 
}

.navlogo{
    width: 10%;
    justify-content: flex-start;
}
.nlogo{
    width: 90%;
    padding-left: 20%;
}
.n{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.home:hover, .suggest:hover, .search:hover{
    color: #38b6ff;
}

.foodie:hover{
    color: #7ed957;
}

.gamez:hover{
    color: #ff914d;
}

.home::after, .suggest::after, .search::after, .foodie::after, .gamez::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.home:hover::after, .suggest:hover::after, .search:hover::after, 
.foodie:hover::after, .gamez:hover::after {
    transform: scaleX(1);
}

.mobilecon{
    display: none;
}

footer{
    margin: 0;
    padding: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: sans-serif;
    background-color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}
.footcon{
    display: flex;
    justify-content: center;
    gap: 5%;
}
.infos{
    color: rgba(0, 0, 0, 0.7);
}
ul{
    list-style-type: none;
}

.flogo{
    width: 80%;
    text-align: center;
}
.footlogo{
    width: 30%;
}

.connect{
    display: flex;
    padding: 0;
    margin: 0;
    gap: 5%;
    border: 2px solid black;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
    width: 60%;
    justify-content: space-around;
}
.foot1{
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 30%;
}
.cpyr8{
    color: rgba(0, 0, 0, 0.7);
}

.flogo2{
    display: none;
}


.hamburger-icon{
    display: none;
}


.hamburger-icon {
    cursor: pointer;
}

.hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    justify-content: space-around;
    position: fixed;
    top: 8.5vh;
    right: -100%;
    width: 60%;
    background: url(../imgs/linen\ textute.jpg);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    height: auto;
    z-index: 4;
    padding-top: 5vh;
    padding-bottom: 5vh;
    cursor: pointer;
    transition: right 1s ease;
    border-radius: 30px 0px 0px 30px;
  }
  
  .hamburger.show {
    right: 0;
  }
  .n1{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    display: none;
}

.mob{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    position: absolute;
    top: 20%;
    right: 5%;
}

.search-bar-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    transform: translateY(-20px);
    background: linear-gradient(45deg, #FFFFFF, #FFEBB5, #FFFFFF, #FFF5E1);
    width: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease-in;
    padding-top: 10vh;
    padding-bottom: 5vh;
    border-radius: 0px 0px 50px 50px;
}

.search-bar-container.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.search-bar {
    width: 40%;
    padding: 15px;
    font-size: 18px;
    border: 0;
    border-bottom: 1px solid #000;
    background-color: transparent;
    color: #000;
    outline: none;
}

.search-icon {
    width: 24px;
    height: 24px;
}



  

  

  #cover-image-container {
    width: 97%;
    height: 50vh;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8vh;
    border-radius: 10px;
  }
  
  #cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #menu-button {
    position: absolute;
    bottom: 20px;
    left: 30px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  #menu-button:hover {
    background-color: #e68a00;
  }
  
  #action-buttons {
    display: flex;
    gap: 15px;
    position: absolute;
    bottom: 20px;
    right: 30px;
  }
  
  #action-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  #share-button {
    background-color: #3b5998;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }
  
  #share-button:hover {
    background-color: #334d84;
  }
  
  #direction-button {
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }
  
  #direction-button:hover {
    background-color: #45a049;
  }
  
  #profile-section {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  
  #place-info {
    flex: 1;
  }
  
  #place-name {
    font-size: 2rem;
    font-weight: bold;
  }
  
  #place-rating {
    font-size: 1.2rem;
    color: #ff9800;
    margin: 10px 0;
  }
  
  #place-tags span {
    background-color: #e0f7fa;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
  }
  #place-tags{
    width: 200%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  #place-description {
    font-size: 1rem;
    color: #333;
  }
  
  #additional-details {
    padding: 20px;
    margin: 20px;
    background-color: #fff8e1;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  #popular-dishes li {
    font-size: 1rem;
    margin: 5px 0;
  }

  #contact-button{
    background-color: #38b6ff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }
  #contact-button:hover{
    background-color: #1e90ff;
  }

#map-container {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  #map-container h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  #map {
    width: 100%;
    height: 85%;
    border: none;
    border-radius: 10px;
  }


  .content{
    display: flex;
  }
  .content h1, h2, h3, h4, h5, h6{
    color: #e68a00;
  }



  
  @media (min-width: 1023px) and (max-width: 1200px) {
    .visit{
        top: 42%;
    }
    .connect{
        width: 80%;
    }
    .content{
        flex-direction: column;
    }
    #map-container{
        width: auto;
    }
    #profile-section{
        flex-direction: column;
    }
    #place-tags{
        width: 100%;
    }

    #cover-image-container{
        width: 96%;
        padding-top: 9vh;
    }
}

@media (min-width: 800px) and (max-width: 1024px){

    .hamburger-icon{
        display: block;
    }
    .n1{
        display: block;
        font-size: 20px;
    }

    .visit{
        position: relative;
        top: 0;
        left: 0;
        width: 30%;
        animation: none;
    }
    .connect{
        width: 40%;
    }
    .strtcon{
        animation: none;
    }
    .visitcon{
        text-align: center;
    }
    .strtlogo, .caption{
        width: 80%;
    }
    .footcon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .flogo{
        display: none;
    }
    .flogo2{
        display: inline;
        width: 100%;
        margin-top: 10%;
    }
    .footlogo{
        text-align: center;
    }
    .foot1{
        width: 90%;
        justify-content: center;
        align-items: center;
    }
    .cpyr8{
        margin-top: 5%;
    }

    .n{
        display: none;
    }

    nav{
        height: 8vh;
    }
    .mobilevw{
        width: 200%;
    }

    .content{
        flex-direction: column;
    }
    #map-container{
        width: auto;
    }
    #profile-section{
        flex-direction: column;
    }
    #place-tags{
        width: 100%;
    }
    
    #action-buttons button {
        color: transparent;
        font-size: 0;
        padding: 0;
    }

    #action-buttons button svg {
        fill: white;
    }

    #action-buttons button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }

    #cover-image-container{
        width: 95%;
        padding-top: 9vh;
    }
}

@media (max-width: 800px) {
    .hamburger-icon{
        display: block;
    }
    .n1{
        display: block;
    }
    .search{
        position: fixed;
        top: 2.7vh;
        right: 15.5%;
    }

    .visit{
        position: relative;
        top: 0;
        left: 0;
        width: 30%;
        animation: none;
    }
    .strtcon{
        animation: none;
    }
    .visitcon{
        text-align: center;
    }
    .strtlogo, .caption{
        width: 80%;
    }
    .footcon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .flogo{
        display: none;
    }
    .flogo2{
        display: inline;
        width: 100%;
        margin-top: 10%;
    }
    .footlogo{
        text-align: center;
    }
    .foot1{
        width: 90%;
        justify-content: center;
        align-items: center;
    }
    .cpyr8{
        margin-top: 5%;
    }
    
    .n{
        display: none;
    }

    nav{
        height: 8vh;
    }
    .mobilevw{
        width: 200%;
    }
    .home::after, .suggest::after, .search::after, .foodie::after, .gamez::after {
        width: 0;
        height: 0;
    }

    .content{
        flex-direction: column;
    }
    #map-container{
        width: auto;
    }
    #profile-section{
        flex-direction: column;
    }
    #place-tags{
        width: 100%;
    }
    
    #action-buttons button {
        color: transparent;
        font-size: 0;
        padding: 0;
    }

    #action-buttons button svg {
        fill: white;
    }

    #action-buttons button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }

    #cover-image-container{
        width: 92%;
        padding-top: 9vh;
    }
}